body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}
.heading {
    text-align: center;
    
}


header {
    background-color: #FF9933; /* Saffron color */
    padding: 20px;
          
    header img {
        width: auto; /* Adjust the width as per your preference */
        height: auto;
    }
    
    h1 {
        margin: 0;
        margin-top: 10px; /* Adjust the margin as needed */
        text-align: center;
    }
    
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FF9933; /* Saffron color */
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #D98C33; /* Darker saffron color */
}

section {
    padding: 20px;
    background-color: beige;
}

footer {
    background-color: #FF9933; /* Saffron color */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#services {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.service {
    text-align: center;
}

.service img {
    width: 100%;
    border-radius: 8px;
}

.service p {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

.service-link {
    text-decoration: none;
    color: inherit; /* Inherit color from parent */
}

.service-link:hover .service {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-toggle:hover   
   .dropdown-menu {
    display: block;
  }
